* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: #D79A10;
  background-color: black;
}

header {
  text-align: center; 
}

.menu ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu li {
  border: 3px solid #D79A10;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 4px 4px 10px #D79A10;
}

a {
  color: #D79A10;
}

article {
  display: flex;
  justify-content: space-around;
}

.inversé {
  flex-direction: row-reverse;
}

.texte {
  padding: 10px;
}

.texte p::first-letter {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  padding: 50px;
}

.encadré {
  height: 300px;
  width: 550px;
  border: 3px solid #D79A10;
  box-shadow: 4px 4px 10px #dbac3e;
}

img {
  height: 296px;
  width: 546px;
}

a:hover {
  opacity: 0.5;
}
/* ccs exercice positionnement */
.positionnement {
  padding: 50px;
}

.positionnement:hover{
  opacity: 0.5;
}

#gris {
  background-color: grey;
}

#blanc {
  background-color: white;
}

/* css exercice grid */
.blanc {
  background-color: white;
}
.brunf {
  background-color: #3b1e05;
}
.brunc {
  background-color: #f3a35d;
}
.bleu {
  background-color: blue;
}
.marron {
  background-color:  #522a08;
}
.turquoise {
  background-color: rgb(0, 255, 213);
}
#toile {
  height: 296px;
  width: 546px;
  display: grid;
  grid-gap: 2px;
  grid-template-areas: 
  'bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 bl01'
  'bl02 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bl03'
  'bl02 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bl03'
  'bl02 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bf01 bl03'
  'bl02 bf02 bf02 bc01 bc01 bc01 bc01 bc01 bc01 bc01 bc01 bf03 bf03 bl03'
  'bl02 bf02 bf02 bc01 bc01 bc01 bc01 bc01 bc01 bc01 bc01 bf03 bf03 bl03'
  'bl02 bc02 bc02 bc02 bc02 bc02 bc02 bc02 bc02 bc02 bc02 bc02 bc02 bl03'
  'bl02 bc03 bc03 bl04 ble1 ble1 bc04 bc04 ble2 ble2 bl05 bc05 bc05 bl03'
  'bl02 bc03 bc03 bl04 ble1 ble1 bc04 bc04 ble2 ble2 bl05 bc05 bc05 bl03'
  'bl02 bc06 bc06 bc06 bc06 bc06 ma01 ma01 bc07 bc07 bc07 bc07 bc07 bl03'
  'bl02 bc06 bc06 bc06 bc06 bc06 ma01 ma01 bc07 bc07 bc07 bc07 bc07 bl03'
  'bl02 bc08 bc08 bc08 bf04 bf04 bc09 bc09 bf05 bf05 bc10 bc10 bc10 bl03'
  'bl02 bc08 bc08 bc08 bf04 bf04 bc09 bc09 bf05 bf05 bc10 bc10 bc10 bl03'
  'bl02 bc08 bc08 bc08 bf04 bf04 bf06 bf06 bf05 bf05 bc10 bc10 bc10 bl03'
  'bl02 bc08 bc08 bc08 bf04 bf04 bf06 bf06 bf05 bf05 bc10 bc10 bc10 bl03'
  'tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01'
  'tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01 tu01';
}

#bl01 {
  grid-area: bl01;
}
#bl02 {
  grid-area: bl02;
}
#bl03 {
  grid-area: bl03;
}
#bl04 {
  grid-area: bl04;
}
#bl05 {
  grid-area: bl05;
}
#bf01 {
  grid-area: bf01;
}
#bf02 {
  grid-area: bf02;
}
#bf03 {
  grid-area: bf03;
}
#bf04 {
  grid-area: bf04;
}
#bf05 {
  grid-area: bf05;
}
#bf06 {
  grid-area: bf06;
}
#bc01 {
  grid-area: bc01;
}
#bc02 {
  grid-area: bc02;
}
#bc03 {
  grid-area: bc03;
}
#bc04 {
  grid-area: bc04;
}
#bc05 {
  grid-area: bc05;
}
#bc06 {
  grid-area: bc06;
}
#bc07 {
  grid-area: bc07;
}
#bc08 {
  grid-area: bc08;
}
#bc09 {
  grid-area: bc09;
}
#bc10 {
  grid-area: bc10;
}
#ble1 {
  grid-area: ble1;
}
#ble2 {
  grid-area: ble2;
}
#ma01 {
  grid-area: ma01;
}
#tu01 {
  grid-area: tu01;
}
#toile:hover .bleu {
  background-color: red;
}
#toile:hover .brunc {
  background-color: rgb(248, 38, 38);
}
#mondrian {
  width: 150px;
  height: 150px;
  border: 3px solid #D79A10;
  box-shadow: 3px 1px 10px #D79A10;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 178px;
}
/* css exo animation */
#animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smiley {
  position: relative;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: black;
  background-color: yellow;
  text-align: center;
  font-size: 90px;
  line-height: 85px;
  transform: rotate(90deg);
  animation-name: mouv;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes mouv {
  from {
    left: 0;
    background-color: yellow;
    transform: rotate(0deg);
  }
  to {
    left: 345px;
    background-color: red;
    transform: rotate(360ged);
  }
}
.smiley2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color:  black;
  background-color: yellow;
  font-size: 90px;
}
.visage {
  margin-top: -50px;
}
#bouche {
  width: 10px;
  height: 5px;
  border-radius: 25%;
  background-color: red;
  border: black solid 2px;
  margin-left: -5px;
}
/* exo responsive */
.responsive {
  display: flex;
}
.trait {
  border: 2px #D79A10 solid;
  width: 100px;
  height: 297px;
  animation-name: responsive;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.minion {
  width: 200px;
  height: 250px;
  border-radius: 50% 50% 25% 25%;
  background-color: yellow;
  margin-top: 45px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  animation-name: minion;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.oeilminion {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.pupille {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color:black;
}
@keyframes responsive {
  from {
    width: 50px;
  }
  to {
    width: 200px;
  }
}
@keyframes minion {
  from {
    width: 200px;
  }
  to {
    width: 100px;
  }
}
/* footer */
 footer {
   padding: 50px;
   text-align: center;
 }