* {
  box-sizing: border-box;
}
div {
  height: 500px;
  width: 600px;
  border: 3px solid #D79A10;
  box-shadow: 4px 4px 10px #dbac3e;
  
}
/* carre qui tourne */
#carretourne {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tutourne {
  height: 200px;
  width: 200px;
  animation-name: tourne;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes tourne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* la balle */

#image {
  background-color: rgb(10, 63, 60);
  background-image: url(../images/balle.jpg);
  background-repeat: no-repeat;
}
.ballon {
  position: relative;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 0;
  top: 410px;
  left: 100px;
  animation-name: ball;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes ball {
  0% {
    top: 410px;
    left: 100px;
  }
  20% {
    top: 0px;
    left: 410px;
  }
  30% {
    top: 100px;
    left: 545px;
  }
  50% {
    top: 445px;
    left: 500px;
  }
  60% {
    top: 350px;
    left: 400px;
  }
  70% {
    top: 445px;
    left: 300px;
  }
  80% {
    top: 375px;
    left: 200px;
  }
  90% {
    top: 445px;
    left: 150px;
  }
  95% {
    top: 445px;
    left: 110px;
  }
  100% {
    top: 410px;
    left: 100px;
  }
}