* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #D79A10;
}

header {
  text-align: center;
  height: 200px;
}

.menu ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu li {
  border: 3px solid #D79A10;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 4px 4px 10px #D79A10;
}

a {
  color: #D79A10;
}

hr {
  height: 5px;
  background-color:  #D79A10;
  border: none;
  box-shadow: 0px 3px 10px #D79A10;
}

.photo {
  text-align: center;
}

.photo img {
  width: 150px;
  height: 150px;
  border: 3px solid #D79A10;
  box-shadow: 3px 1px 10px #D79A10;
  border-radius: 50%;
  margin-top: -50px;
}

.presentation {
  font-size: 20px;
}

.column {
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}

  /* section info */
.contact {
  margin-top: 50px;
}

/* section compétence */
.comp {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
}
.comp p {
  flex: 0 0 40%;
}
.barre {
  flex: 0 0 60%;
  border: 3px solid #D79A10;
}
.bar {
  display: block;
  height: 100%;
}
.c90 {
  width: 90%;
  background-color: #D79A10 ;
}
.c50 {
  width: 50%;
  background-color: #D79A10 ;
}
.c80 {
  width: 80%;
  background-color: #D79A10 ;
}
.c85 {
  width: 85%;
  background-color: #D79A10 ;
}

.information {
  padding-top: 30px;
}

/* reseau */
.facebook img {
  height: 100px;
  width: 100px;
}
.linkedin img{
  height: 100px;
  width: 100px;
}