* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: black;
  color: #d79a10;
}

h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  border: 3px solid #d79a10;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 5px 5px 10px #d79a10;
}

a {
 color: #d79a10;
}
a:hover {
  opacity: 0.5;
}
/* --------------------------------------------------------------- */
section {
  display: flex;
}
article {
  display: flex;
  background-color: black;
  color: #d79a10;
  border: #d79a10 solid 3px;
}
aside {
  border: #d79a10 solid 3px;
}
div {
  padding: 5px;
}
/* ---------------------------------------------------------------- */
footer {
  display: flex;
  justify-content: center;
}